*

!Dockerfile

!deploy/
!deploy/backend/
!deploy/backend/**
!deploy/frontend/
!deploy/frontend/**

!src/
!src/**

!config/
!config/**

!checkpoints/
!checkpoints/v3/
!checkpoints/v3/best_transformer_fusion.pt
